
    <div class="top">
        <h1>{{title}}</h1>
        <h2>Status: {{HashConnectService.state}}</h2>

        <h3>Connected accounts: {{ HashConnectService.pairingData?.accountIds | json}}</h3>

        <div class="profile" *ngIf="HashConnectService.userProfile">
            <div class="profile_wrap">
                <div class="profile__avatar">
                    <img [src]="HashConnectService.userProfile.profilePicture.thumbUrl" alt="avatar">
                </div>
                <div class="profile__name">
                    <h3>{{ HashConnectService.userProfile.username.name || HashConnectService.userProfile.accountId }}</h3>
                </div>
            </div>
        </div>

        <div class="mainnet_toggle">
            <input type="checkbox" [(ngModel)]="isMainnet" (ngModelChange)="toggleMainnet()">
            Mainnet
        </div>
    </div>

                <h3>Auto Trading</h3>
<button class="primary" (click)="startAutoTrade()" [disabled]="autoTradeRunning || HashConnectService.state != 'Paired'">
    Start Auto Trade
</button>
<button class="primary" (click)="stopAutoTrade()" [disabled]="!autoTradeRunning">
    Stop Auto Trade
</button>

        <button class="primary" (click)="pair()" [disabled]="HashConnectService.state == 'Paired' || HashConnectService.state == 'Disconnected'">Pair</button>
        <button class="primary" (click)="HashConnectService.disconnect()" [disabled]="HashConnectService.state != 'Paired'">Disconnect</button>


    <pre class="data" *ngIf="viewData">
        {{ HashConnectService.hashconnect | json }}
    </pre>


<router-outlet></router-outlet>
